@charset "UTF-8";
/* -- color variables -- */
/* -- основные стили -- */
html {
  font-family: 'Open Sans', sans-serif; }

body {
  min-width: 320px; }

.block {
  width: 100%; }

.main {
  background: #272727;
  color: #fff;
  height: 726px; }

.secondary {
  height: 703px; }

.header {
  position: relative;
  text-align: center;
  font-size: 44px; }
  .header .title {
    font-weight: 300; }
    .header .title .text-bold {
      font-weight: 600; }

.main .header {
  top: 83px;
  padding-left: 2px;
  margin: 0 20px; }

.secondary .header {
  top: 93px;
  padding-left: 10px;
  margin: 0 20px; }

.separator .line {
  margin: 0 auto;
  background: #e8aa4e;
  height: 4px; }

.separator .line:first-child {
  margin-top: 20px;
  width: 98px; }

.separator .line:last-child {
  margin-top: 10px;
  width: 66px;
  opacity: 0.7; }

.main .separator {
  padding-right: 5px;
  margin-top: -1px; }

.secondary .separator {
  padding-right: 12px;
  margin-top: -3px; }

/* -- слайдер -- */
.slider-outer {
  width: 77.8%;
  margin: 0 auto;
  margin-top: 175px; }

.slider {
  margin: 0 auto; }
  .slider .item {
    margin-left: 0;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    color: #fff; }
    .slider .item .image {
      display: block;
      margin: 0 auto;
      width: 127px;
      height: 127px;
      border-radius: 50%;
      background: #fff; }
    .slider .item .item-header {
      padding-top: 18px; }
      .slider .item .item-header .name {
        font-size: 20px;
        line-height: 26px;
        font-weight: 700; }
      .slider .item .item-header .nikname {
        font-size: 16px; }
    .slider .item .date-info {
      padding-top: 27px;
      font-size: 14px; }
      .slider .item .date-info .date {
        display: block; }

/* -- настройка переключателей -- */
.slick-dots {
  position: relative;
  top: 78px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  padding: 4.5px;
  cursor: pointer;
  background: #fff;
  border: 0;
  outline: none; }

.slick-dots li {
  margin: 0 6px;
  position: relative;
  display: inline-block; }

.slick-dots .slick-active button {
  background: #e8aa4e; }

/* -- форма -- */
.form {
  margin: 0 auto;
  margin-top: 150px;
  width: 750px; }
  .form .form-inputs {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; }
    .form .form-inputs .form-group-control {
      width: 360px;
      height: 42px; }
  .form .form-loading {
    margin-top: 24px; }
    .form .form-loading .form-group-loading {
      width: 100%;
      height: 110px; }
  .form .btn-row {
    text-align: end; }
    .form .btn-row .btn-submit {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      background: #e8aa4e;
      border: none;
      width: 165px;
      height: 41px;
      position: relative;
      top: 85px; }

.form-group-label {
  margin-left: -2px;
  font-size: 14px; }

.form-group-label::after {
  content: " *";
  color: #bb0100; }

input[type="text"] {
  display: block;
  margin-top: 5px; }

input[id="loading"] {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  word-wrap: wrap; }

.error-msg {
  display: none;
  margin: 0 0 10px 0;
  color: #fff;
  background: #bb0100;
  height: 30px;
  margin-left: -2px;
  font-size: 14px;
  padding: 5px 0 5px 10px; }

.input_error {
  border: 1px solid #bb0100; }

.form_invalid .error-msg {
  display: block; }

/* -- фотографии -- */
#JeysonSt {
  background: url("../img/Statham.jpg");
  background-position: 56% 0%; }

#VanDamm {
  background: url("../img/vandamm.jpeg");
  background-position: 70% 20%; }

#SilvesrSt {
  background: url("../img/Stallone.jpg");
  background-position: 55% 5%; }

#JetLi {
  background: url("../img/JetLi.jpg");
  background-position: 45% 5%; }

/* -- убираем браузерную обводку кнопки и добавляем тень -- */
button:active, .button:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0 !important; }

.btn-submit:active {
  outline: none !important;
  box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5); }

/* -- футер -- */
.footer {
  color: #b0b0b0;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727; }
  .footer .footer-box {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-box .footer-caption {
      font-size: 12px;
      letter-spacing: 0.025em;
      display: block;
      text-align: center;
      padding-top: 3px;
      padding-left: 17px;
      margin-right: 20px; }
      .footer .footer-box .footer-caption .company {
        font-weight: 700; }
    .footer .footer-box .social-buttons {
      width: 166px;
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      margin: 0 20px; }
      .footer .footer-box .social-buttons .social-icon {
        display: inline-block;
        width: 31px;
        height: 31px;
        background: url("../img/css_sprites.png"); }
      .footer .footer-box .social-buttons .facebook {
        background-position: -1px -1px; }
      .footer .footer-box .social-buttons .twitter {
        background-position: -100px -1px; }
      .footer .footer-box .social-buttons .google {
        background-position: -34px -1px; }
      .footer .footer-box .social-buttons .linkedn {
        background-position: -67px -1px; }

/* -- адаптив -- */
@media (max-width: 800px) {
  .form {
    width: 360px; }
  .footer .footer-box {
    justify-content: center; }
  .secondary {
    height: 797px; }
  .form-inputs .form-group:nth-child(2) {
    margin-top: 24px; } }

@media (max-width: 710px) {
  .footer .footer-box .social-buttons {
    margin-top: 8px; } }

@media (max-width: 528px) {
  .main {
    height: 770px; } }

@media (max-width: 548px) {
  .secondary {
    height: 850px; } }

@media (max-width: 400px) {
  .form {
    width: 300px; }
  .form .form-inputs .form-group-control {
    width: 300px; } }
