/* -- color variables -- */
$bg-dark: #272727;
$color-accent: #e8aa4e;
$text-white: #fff;
$text-pale: #b0b0b0;

/* -- dimensional variables -- */
@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}

/* -- основные стили -- */

html {
    font-family: 'Open Sans', sans-serif;    
}

body {  
    height: 100%;
   /* min-width: 1280px; */
}


.main-block {
    background: $bg-dark;
    color: $text-white;
}

.main-block .header {
    top: 83px;
    padding-left: 2px;
    margin: 0 20px;
}

.secondary-block .header {
    top: 92px;
    padding-left: 10px;
    margin: 0 20px;
}


.header {  
    position: relative;   
    text-align: center;    
    font-size: 44px;

    .title {
        font-weight: 300;

        .text-bold {
            font-weight: 600;
        }
    }    
}

.separator  {    
    .line {
        margin: 0 auto; 
        background: $color-accent;
        height: 4px;
    } 
    .line:first-child {
        margin-top: 20px;   
        width: 98px;
    }   
    .line:last-child {
        margin-top: 10px; 
        width: 66px;
        opacity: 0.7;
    }
}
.secondary-block .separator {
    padding-right: 10px;
}

/* -- слайдер -- */


/* #JeysonSt {
    background: url("../img/Statham.jpg");
    background-size: 350%;
    background-repeat: no-repeat;
    background-position: 55% 5%;
}
*/

.slider-outer {
    width: 78%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: 175px;
}

.slider { 
    margin: 0 auto;    

        .item {         
        margin-left: 0;   
        display: inline-block;  
        text-align: center;              
        line-height: 24px;
        font-weight: 400;
        color: $text-white;

        .image {
            display: block;
            margin: 0 auto;
            width: 127px;
            height: 127px;
            border-radius: 50%;
            background: #fff;
        }
        .item-header {                    
            padding-top: 18px;

            .name {
                font-size: 20px;
                font-weight: 700;
            }  
            .nikname {
                font-size: 16px;
            }                  
        }
        .date-info {
            padding-top: 27px;
            font-size: 14px;

            .date { 
                display: block;
            }
        }
    }
}

/* -- настройка переключателей -- */

.slick-dots {
    position: relative;
    top: 80px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 9px;
    height: 9px;
    padding: 5px;
    cursor: pointer;
    background: #fff;
    border: 0;
    outline: none;
}

.slick-dots li {
    margin: 0 5px;
    position: relative;
    display: inline-block;
}

.slick-dots .slick-active button {
    background: $color-accent;
}


/* -- форма -- */

.form {
    margin: 0 auto;
    margin-top: 147px;
    width: 750px; 
    height: 496px;  

    .form-inputs {
        display: flex;
        justify-content: space-between; 
        flex-flow: row wrap; 

        .form-group-control { 
            width: 360px;
            height: 40px;
        } 
    }

    .form-loading {
        margin-top: 24px;

            .form-group-loading  {  
                width: 100%;              
                height: 116px;
            }
    } 

    .btn-row {
        text-align: end;
    
    .btn-submit {
        color: $text-white;
        font-weight: 600;
        font-size: 16px;
        background: $color-accent;
        border: none;
        width: 165px;
        height: 40px;
        position: relative;
        top: 83px;
    } 
    }   
}

.form-group-label {
    font-size: 14px;
}

.form-group-label::after {
    content: " *";
    color: #bb0100;
}

input[type="text"] {
    display: block;
    margin-top: 5px;
}

input[id="loading"] {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    word-wrap: wrap;
}


/* -- убираем браузерную обводку кнопки и добавляем тень -- */
button:active, .button:focus {
    outline: none !important;
  }
  
  button::-moz-focus-inner {
    border: 0 !important;
}
  
.btn-submit:active, .btn-submit:focus {
    outline: none !important;
    box-shadow: inset 2px 1px 8px rgba(0,0,0,0.5);
}

/* -- футер -- */

.footer {    
    color: $text-pale;   
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-dark;    

    .footer-box {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;    

        .footer-caption {
            font-size: 12px;
            letter-spacing: 0.025em;
            display: block;
            text-align: center;
            padding: 10px 0;
            margin: 0 20px;
        }

        .social-buttons {
            width: 166px;
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            margin: 0 20px;

            .social-icon {
                display: inline-block;
                width: 31px;
                height: 31px;
                background: url("../img/css_sprites.png");                
            }
            .facebook {
                background-position: -1px -1px;
            }
            .twitter {
                background-position: -100px -1px;
            }
            .google {
                background-position: -34px -1px;
            }
            .linkedn {
                background-position: -67px -1px;
            }
        }
    }
}

/* -- адаптив -- */


@media(max-width:800px) {
    .form {
        width: 360px;
    }

    .footer .footer-box {
        justify-content: center;
    }
}

@media(max-width:400px) {
    .form {
        width: 300px;          
    }

    .form .form-inputs .form-group-control { 
        width: 300px;
    }   
}























